Model/classes/model/common/serviceinterface/congéWS.wsdl

<wsdl:definitions
     name="congéWS"
     targetNamespace="/model/common/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="/model/common/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="/model/common/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/model/common/types/" schemaLocation="congéWS.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="congéWS_getDemandeDeCongeView1">
        <wsdl:part name="parameters" element="types:getDemandeDeCongeView1"/>
    </wsdl:message>
    <wsdl:message name="congéWS_getDemandeDeCongeView1Response">
        <wsdl:part name="parameters" element="types:getDemandeDeCongeView1Response"/>
    </wsdl:message>
    <wsdl:message name="congéWS_updateDemandeDeCongeView1">
        <wsdl:part name="parameters" element="types:updateDemandeDeCongeView1"/>
    </wsdl:message>
    <wsdl:message name="congéWS_updateDemandeDeCongeView1Response">
        <wsdl:part name="parameters" element="types:updateDemandeDeCongeView1Response"/>
    </wsdl:message>
    <wsdl:message name="congéWS_findDemandeDeCongeView1">
        <wsdl:part name="parameters" element="types:findDemandeDeCongeView1"/>
    </wsdl:message>
    <wsdl:message name="congéWS_findDemandeDeCongeView1Response">
        <wsdl:part name="parameters" element="types:findDemandeDeCongeView1Response"/>
    </wsdl:message>
    <wsdl:message name="congéWS_findDemandeDeCongeView1findbyId">
        <wsdl:part name="parameters" element="types:findDemandeDeCongeView1findbyId"/>
    </wsdl:message>
    <wsdl:message name="congéWS_findDemandeDeCongeView1findbyIdResponse">
        <wsdl:part name="parameters" element="types:findDemandeDeCongeView1findbyIdResponse"/>
    </wsdl:message>
    <wsdl:portType name="congéWS">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="DemandeDeCongeView1"
                 SDOName="tns:DemandeDeCongeViewSDO" UpdateOpName="updateDemandeDeCongeView1"
                 GetOpName="getDemandeDeCongeView1" FindOpName="findDemandeDeCongeView1"/>
        </wsdl:documentation>
        <wsdl:operation name="getDemandeDeCongeView1">
            <wsdl:input message="tns:congéWS_getDemandeDeCongeView1"/>
            <wsdl:output message="tns:congéWS_getDemandeDeCongeView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateDemandeDeCongeView1">
            <wsdl:input message="tns:congéWS_updateDemandeDeCongeView1"/>
            <wsdl:output message="tns:congéWS_updateDemandeDeCongeView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findDemandeDeCongeView1">
            <wsdl:input message="tns:congéWS_findDemandeDeCongeView1"/>
            <wsdl:output message="tns:congéWS_findDemandeDeCongeView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findDemandeDeCongeView1findbyId">
            <wsdl:input message="tns:congéWS_findDemandeDeCongeView1findbyId"/>
            <wsdl:output message="tns:congéWS_findDemandeDeCongeView1findbyIdResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="congéWSSoapHttp" type="tns:congéWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDemandeDeCongeView1">
            <soap:operation soapAction="/model/common/getDemandeDeCongeView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDemandeDeCongeView1">
            <soap:operation soapAction="/model/common/updateDemandeDeCongeView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findDemandeDeCongeView1">
            <soap:operation soapAction="/model/common/findDemandeDeCongeView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findDemandeDeCongeView1findbyId">
            <soap:operation soapAction="/model/common/findDemandeDeCongeView1findbyId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="congéWS">
        <wsdl:port name="congéWSSoapHttpPort" binding="tns:congéWSSoapHttp">
            <soap:address location="http://localhost:7101/Gestion_de_congé_pfe2-Model-context-root/congéWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
